@import "tailwindcss";
:root {
  --background: #F4EAD6;
  --foreground: #2B1F12;
  --accent-1: #B85C38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
:root {
  --background: #F4EAD6;
  --foreground: #2B1F12;
  --accent-1: #B85C38;
}
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}